{
  "name": "{{.Name}}",
  "version": "0.0.0",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "langsmith apps dev",
    "build": "vite build",
    "watch": "vite build --watch",
    "typecheck": "tsc --noEmit"
  },
  "dependencies": {
{{- range $i, $dep := .Dependencies}}{{if $i}},{{end}}
    "{{$dep.Name}}": "{{$dep.Version}}"
{{- end}}
  },
  "devDependencies": {
{{- range $i, $dep := .DevDependencies}}{{if $i}},{{end}}
    "{{$dep.Name}}": "{{$dep.Version}}"
{{- end}}
  }
}
